*{margin:0;padding:0;}
html,body{width:auto;height:auto}
#root{min-height:500px}
.home{position: absolute;top:25%;left:50%;transform: translate(-50%,-50%);}
.home a{display: block;font-size: 20px;color:#000;margin:10px}
.main{

    background: #333;
    border-radius: 2px;
    color:#fff;
}
.main .list-th{color:gray;
    position: sticky;
    z-index: 10;
    top: 0;
    background: #333333;
}
.red{color:red}
.green{color:green}
.gold{color:gold}
.main .ant-col{text-indent: 20%;padding:3px;box-sizing: border-box;}

.main .loading-mask{
    position: fixed;
    width:100%;
    height:100%;
    z-index: 20;
    top:0;
    left:0;
    background:#123;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected{
    background: #350000;

}
.main .list-tr:hover{
    background: #350000;
    cursor: pointer;
}


#canvas{width:600px;height:300px;margin:auto;position: relative;}
.canvas{width:100%;height:100%;border:1px solid #ccc;position: absolute;}
.canvas:nth-child(1){z-index: 3;opacity: 0.5;}
.canvas:nth-child(2){z-index: 2;}